@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Omori';
  src: url('../public/font/OMORI_GAME2.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  font-family: 'Omori', sans-serif;
  font-size: xxx-large;
}

#sunbringer {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: fixed ;
  bottom: 2em;
  right: 2em;
}

#sunbringer:hover {
  opacity: 1;
}

#proposal {
  position: fixed ;
  bottom: 2em;
  left: 2em;
}
